body, h1, h2, h3, ul, li, p{
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
}

body::-webkit-scrollbar{
  display: none;
}

body{
  -ms-overflow-style: none;  
  overflow-x: hidden;  
  height: 100vh;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.container{
  display: flex;
  flex-direction: column;  
  justify-content: center;  
  align-items: center;
  width: 100%;
  height: 100vh;  
}

.main_container{
  background: url(../img/bg_main_section.jpg) no-repeat center ;
  background-size: cover;
}
.second_container, .fourth_container, .fifth_container, .sixth_container, .seventh_container{
  background: url(../img/bg_rockets.png) repeat left;
  background-size: contain;
}

.third_container{
  background: url(../img/bg_indicators_and_targets.jpg) no-repeat center ;
  background-size: cover;
}

#main_title{
  display: flex;
  width: 650px;
  flex-wrap: wrap;
  margin-top: 150px;
  color: #f5f3d0;  
}

.title{
  font-size: 2.7em;
  letter-spacing: .2em;
  color: #292929;
}

#main_title h2{
  font-size: 1.9em;
  font-family: monospace;   
}

#main_title h1{
  color: #f5f3d0;
  font-size: 45px;  
}

.animated_tittle::after{
  content : '|';
  margin-left: 5px;
  opacity: 1;
  animation: blink .7s infinite;
}

@keyframes blink{
  0% , 100% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}

.navbar ul{
  display: inline-flex;
  margin-top: 400px;
}

.navbar ul li{
  padding-left: 15px;  
}

.navbar ul li a{
  text-decoration: none;
  color: #f5f3d0;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
}

/*The CS Team*/
.second_container h1{
  text-align: center; 
  letter-spacing: 0em;
  height: 180px;
}

.team_members ul{
  display: inline-flex;
  padding-top: 50px;
  margin-bottom: 35px;
}

.team_members ul li{
  margin-left: 175px;  
}

.team_members ul li:first-child{
  margin-left: 0px;
}

.team_members ul li img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px #1547EC solid;
  
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

.team_members ul li p{
  text-align: center;
  padding-top: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
}

/*Indicators and targets*/
.container_row{
  flex-direction: row;
  height: 71vh;
  align-items: flex-start;
  padding-bottom: 30px;
}

.third_container{
  display: block;
}

.third_container h1{
  color: #f5f3d0;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 85px;
}

#indicators_box{
  display: flex;    
  justify-content: center;  
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 5%;
  padding-top: 100px;

  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

#indicators_box ul li p{
  line-height: 100px;
}

#metrics_keys{
  width: 250px;
}

#metrics_keys p{
  border-bottom: 2px solid #707070;
  font-size: 22px;
  font-family: monospace, 'Courier New', Courier,´;
  letter-spacing: 1px;
  font-weight: bold;
  color: #707070;  
}

#matrics_values{
  margin-left: 25px;
  font-size: 38px;
  font-family: monospace, 'Courier New', Courier,´;
  font-weight: bold;
  color: #707070;
}

#matrics_values p{
  margin-top: 10px;
}

#metrics_values ul li{
  position: relative;  
}

#matrics_values label{
  content: '100%';
  position: absolute;  
  left: 450px;  
  font-size: 35px;
  color: transparent;
  text-shadow: 0 0 6px rgba(65,65,64,0.5);  
}

#indicators_box_nobg{
  width: 600px;
  height: 500px;
  border-radius: 5%;
  margin-left: 100px;
}

#indicators_box_nobg h1{
  font-size: 3.5em;
  text-align: center;
  line-height: 1.5; 
  padding: 5px; 
  /*Font border*/
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Pacifico', cursive;
}

#indicators_box_nobg h1:first-of-type{
  padding-top: 60px;
}

 /*Customer Centricity*/
 .fourth_container{
   position: relative;
 }

 .fourth_container.container div{
   margin-bottom: 5px;
 }

 .fourth_container h1{
  letter-spacing: 0em;
  text-align: center;
  padding-top: 75px;  
}

.fourth_container .container_row img{
  padding-top: 35px;
  width: 575px;
  height: auto;
  border-radius: 50%;  
}

.fourth_container p{
  font-size: 16px;
}

.cc_attributes_list#left_list{
  padding-right: 55px;
}

.cc_attributes_list#right_list{
  padding-left: 55px;
}


.cc_attributes_list li p{
  font-weight: bold;
  color: #A1DCEB;
  margin-top: 50px;
  text-align: center;
  word-break: keep-all;
  font-size: 22px;
  width: 250px;
  align-self: start;  
}

.fourth_container p{
  text-align: center;  
  font-weight: bold;
  color: #292929;
  font-size: 19px;
  word-break: keep-all;
  width: 100%;
  line-height: 1.8em;
}

/*The FeedBack Loop*/
.fifth_container {
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  justify-content: start;
}

.fifth_container::-webkit-scrollbar{
  display: none;
}

.fifth_container h1{
  color: #f5f3d0;
  width: 100%;
  left: 780px;
  position: absolute;
  z-index: 1;  
  top: 25px;
  left: 680px;  
}

.fifth_container img{
  max-width: 60%;
  position: absolute;  
  padding-right: 25px;
  top: 0.1px
}

.fifth_container ul{
  position: absolute;
  left: 90px;
  padding-top: 140px;
}

.fifth_container ul li{
  padding-top: 25px;
}

.fifth_container p{  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  word-break: keep-all;
  width: 500px;
  text-align: center;
  color: #6FBFE6;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 45px;  
}

/*Next steps*/
.sixth_container h1{
  padding-top: 75px;
}
.sixth_container p{
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 22px;
  font-family: monospace;
  color: #292929;
  font-weight: bold;  
}

.list_nextsteps{
  padding-top: 15px;
}

.list_nextsteps:nth-child(2){
  margin-left: 150px;
  margin-right: 150px;
}

.list_nextsteps li{
  margin-top: 15px;
}

.list_nextsteps > :first-child{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 4px ;  
}

.list_nextsteps li p{
  word-break: normal;
  width: 275px;
  text-align: center;  
}

.list_proposta p{
  line-height: 27px;
}

/*Agenda*/
.seventh_container{
  position: relative;
  overflow-y: hidden;
}

.seventh_container h1{
  padding-top: 75px;
}

.seventh_container img{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.data{
  font-size: 2.5em;
  height: 80px;
}

.seventh_container .container ul li{
  padding-top: 45px;
  height: 180px;
  margin-top: 50px;
}

.seventh_container .container ul li p{
  width: 250px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
  font-size: 22px;  
}

.container_sidebyside{
  max-width: 20%;
  justify-content: start;
  padding-top: 50px;
}














