body, h1, h2, h3, ul, li, p{
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.container{
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;  
  background: url(../img/bg_main_section.jpg) no-repeat center ;
  background-size: cover;
}

#main_title{
  display: flex;
  width: 650px;
  flex-wrap: wrap;
  margin-top: 150px;
  color: #ffff;  
}

#main_title h1{
  font-size: 2.7em;
}

#main_title h2{
  font-size: 1.5em;
}

.footer_title{
  margin-top: 300px;
  color: #ffff;
}














